{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["**/tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "jest"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-nested-ternary": "error",
    "@typescript-eslint/no-namespace": "off"
  },
  "env": {
    "node": true,
    "jest/globals": true
  }
}
